/venv
/dbt-env
.user.yml
/lessons_dagster/.env
/logs
logs
/lessons_dagster/lessons_dagster.egg-info
/lessons_dagster/tmp*
/lessons_dagster/lessons_dagster/__py*
lessons_dagster/lessons_dagster/partitions/__pycache__/__init__.cpython-310.pyc
/tmp*
lessons/package-lock.yml
